@font-face{
  font-family: "SperryPC";
  font-weight: 600;
  src: url("./assets/Web437_SperryPC_CGA-2y.woff")
}

main {
  font-family: 'SperryPC',monospace;
  font-size: 16px;
}

.timer-holder{
  position: absolute;
  top: 50%;
  width: 50%;
  max-width: 900px;
  min-width: 500px;
}
